<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title></title>
  <link href="{base_url}public/admin/styles/general.css" rel="stylesheet" type="text/css" />
  <link href="{base_url}public/admin/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
  <span class="action-span1"><a href="{site_url url='admin/adindex/'}">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 会员列表 </span>
  <div style="clear:both"></div>
</h1>

<div class="form-div">
  <form action="" name="searchForm">
    <img src="{base_url}public/admin/images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
  
    <!-- 已禁用 -->
    <select name="intro_type">
    <option value="0">全部</option>
    <option value="0">已禁用用户</option>
    <option value="1">正常用户</option>
  </select>
         
  <!-- 关键字 -->
    关键字 <input type="text" name="keyword" size="15">
    <input type="submit" value=" 搜索 " class="button">
  </form>
</div>

<form method="post" action="{base_url url='admin/user/stops'}" name="listForm" onsubmit="return confirmSubmit(this)">
  <!-- start goods list -->
  <div class="list-div" id="listDiv">
    <table cellpadding="3" cellspacing="1">
      <tbody>
        <tr>
          <th><input type="checkbox">编号</th>
          <th>商品名</th>
          <th>商品</th>
          <th>性别</th>
          <th>出生年月</th>
          <th>积分</th>
          <th>vip等级</th>
          <th>邮箱</th>
          <th>注册时间</th>
          <th>是否禁用</th>
          <th>添加属性</th>
          <th>修改属性</th>
          <th>操作</th>
        </tr>
        <tr></tr>
        <tr>
          <td><input type="checkbox" name="ids[]" value=""></td>
          <td class="first-cell"></td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center"> <img src="{base_url}public/admin/images/guan.gif" onclick=""></td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center">
            
          </td>
          <td align="center"><a href="{base_url url='admin/attribute/goodsattr/1'}">添加属性</a>
          <a href="{base_url url='admin/attribute/gashow/1'}" target="_blank" title="查看">查看</a>
          <a href="{base_url url='admin/attribute/gaedit/1'}" title="编辑"><img src="{base_url}public/admin/images/icon_edit.gif" width="16" height="16" border="0"></a></td>
            
        </tr>
  
  </tbody>
 </table>
<!-- end goods list -->
