<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>ECSHOP 管理中心 - 添加新商品 </title>
<meta content="noindex, nofollow" name="robots">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link type="text/css" rel="stylesheet" href="{base_url url='public/admin/styles/general.css'}">
<link type="text/css" rel="stylesheet" href="{base_url url='public/admin/styles/main.css'}">
		<script type="text/javascript" src="{base_url url='public/admin/js/utils.js'}"></script>
		<script type="text/javascript" src="{base_url url='public/admin/js/tab.js'}"></script>
</head>
<body style="cursor: auto;">

<h1>
<span class="action-span"><a href="{base_url url='admin/goods/goodslist'}">商品列表</a></span>
<span class="action-span1"><a href="#">ECSHOP 管理中心</a> </span><span class="action-span1" id="search_id"> - 添加新商品 </span>
<div style="clear:both"></div>
</h1>

<!-- start goods form -->
<div class="tab-div">
    <!-- tab bar -->
    <div id="tabbar-div">
      <p>
    <span id="general-tab" class="tab-front">通用信息</span>
		<span id="detail-tab" class="tab-back">详细描述</span>
		<span id="mix-tab" class="tab-back">其他信息</span>
      </p>
    </div>

    <!-- tab body -->
    <div id="tabbody-div">
      <form name="theForm" method="post" enctype="multipart/form-data" action="{base_url url='admin/goods/goodsedit'}">
        <input type='hidden' name='goods_id' value='{$row->goods_id}'>
        <!-- 通用信息 -->
        <table width="90%" align="center" id="general-table" style="display: table;">
          <tbody><tr>
            <td class="label">商品名称：</td>
            <td>
			<input type="text" size="30" style="float:left;color:;" value="{$row->goods_name}" name="goods_name">
            <span class="require-field">*</span></td>
          </tr>
          <tr>
            <td class="label">
            商品货号： </td>
            <td>
			<input type="text" onblur="" size="20" value="{$row->goods_sn}" name="goods_sn"><br>
            <span id="noticeGoodsSN" style="display:block" class="notice-span">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span></td>
          </tr>
          <tr>
            <td class="label">商品分类：</td>

            <td>
			  <select onchange="" name="cate_id">
            <option value="0">顶级分类</option>
            {foreach $list as $brow}
              <option value="{$brow['cat_id']}" {if $row->cate_id == $brow['cat_id']}selected{/if}>
              {$brow['cat_name']|indent:$brow["deep"]:'&nbsp;&nbsp;'}
            </option>
            {/foreach}
        </select>

        <span class="require-field">*</span>
		    </td>

          </tr>
          <tr>
            <td class="label">商品品牌：</td>
            <td>
			<select onchange="" name="brand_id">
			<option value="0">请选择...</option>
      {foreach $brand as $one}<option value="{$one->brand_id}" {if $row->brand_id==$one->brand_id}selected{/if}>{$one->brand_name}</option>{/foreach}
			</select>
            </td>
          </tr>

          <tr>
            <td class="label">本店售价：</td>
            <td>
			         <input type="text" size="20" value="{$row->shop_price}" name="shop_price">
            <span class="require-field">*</span></td>
          </tr>          

          <tr>
            <td class="label">市场售价：</td>
            <td>
			<input type="text" size="20" value="{$row->market_price}" name="market_price">
            </td>
          </tr>

          <tr>
            <td class="label">商品积分：</td>
            <td>
             <input type="text" size="20" value="{$row->goods_jifen}" name="goods_jifen"><span>单个商品积分不要超过100</span>
            </td>
          </tr>
		<tr>
			<td class="label">是否首页推荐</td>
			<td>
			 <input type="radio" name="is_recom" value="1"  {if ($row->is_recom)}checked="checked"{/if}/> 是
			 <input type="radio" name="is_recom" value="0"  {if ($row->is_recom == 0)}checked="checked"{/if}/> 否
			 </td>
		</tr>
          <tr>
            <td class="label">上传商品图片：</td>
            <td>
              <input type="file" size="35" name="goods_img"><br>
              <span><img src="{base_url url='public/upload'}/{$row->goods_thumb}"></span>
            </td>
          </tr>  

		</table>

        <!-- 商品描述 -->
        <table width="90%" style="display: none;" id="detail-table">
          <tbody><tr>
            <td><!-- WYSIWYG 你看到啥，就得到啥，所见即所得 -->
				<textarea name="goods_desc">{$row->goods_desc}</textarea>
			</td>
          </tr>
        </tbody></table>

        <!-- 其他信息 -->
        <table width="90%" align="center" style="display: none;" id="mix-table">
        <tbody>
          <tr>
            <td class="label"> 商品库存数量：</td>
            <td><input type="text" size="20" value="{$row->goods_num}" name="goods_num"><br>
			</td>
          </tr>
          <tr>
            <td class="label">加入推荐：</td>
			<td>
      <input type="radio" value="1" name="type" {if $row->goods_promote&1}checked{/if}>男装 
      <input type="radio" value="2" name="type" {if $row->goods_promote&2}checked{/if}>女装</td>
          </tr>
          <tr id="alone_sale_1">
            <td id="alone_sale_2" class="label">上架：</td>
            <td id="alone_sale_3">
			<input type="checkbox" value="1" name="onsale" {if $row->onsale}checked{/if}> 打勾表示允许销售，否则不允许销售。</td>
          </tr>
          <tr id="alone_sale_1">
            <td id="alone_sale_2" class="label">是否免运费：</td>
            <td id="alone_sale_3">
              <input type="checkbox" value="{if $row->mianyun}checked{/if}" name="mianyun"> 打勾表示免运费，否则不免运费。</td>
          </tr>
          <tr>
            <td class="label">商品运费：</td>
            <td><input type="text" size="20" value="{$row->yunfei}" name="yunfei"><span>若免运费，后台会自动删除此项数据</span></td>
          </tr>

          <tr>
            <td class="label">商品关键词：</td>
            <td><input type="text" size="40" value="{$row->keywords}" name="keywords"> 用空格分隔</td>
          </tr>
          <tr>
            <td class="label">商品简单描述：</td>
            <td><textarea rows="3" cols="40" name="small_desc">{$row->small_desc}</textarea></td>
          </tr>
        </tbody></table>



		<div class="button-div">
          <input type="submit" value=" 确定 " class="button">
          <input type="reset" value=" 重置 " class="button">
        </div>
<!-- end goods form -->
<div id="footer">
&copy;Ecshop, Thank You!
</div>
</body></html>