<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <title>GF_SHOP 管理中心 - 评论详情 </title>
    <meta content="noindex, nofollow" name="robots">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link type="text/css" rel="stylesheet" href="{$smarty.const.B_CSS_DIR}general.css">
    <link type="text/css" rel="stylesheet" href="{$smarty.const.B_CSS_DIR}main.css">
    <script src="{$smarty.const.B_JS_DIR}transport.js" type="text/javascript"></script>
    <script src="{$smarty.const.B_JS_DIR}common.js" type="text/javascript"></script>
</head>
<body>

<h1>
    <span class="action-span"><a href="{base_url url='admin/comment/show_list'}">用户评论</a></span>
    <span class="action-span1"><a href="{base_url url='admin/welcome/index'}">GF_SHOP 管理中心</a> </span><span class="action-span1" id="search_id"> - 评论详情 </span>
    <div style="clear:both"></div>
</h1>
<!-- comment content list -->
<div class="main-div">
    <table width="100%">
        <tbody><tr>
            <td>
                <a href=""><b>{$data['user_name']}</b></a>&nbsp;&nbsp;&nbsp;&nbsp;于&nbsp;&nbsp;
                {$data['add_time']|date_format:"%Y-%m-%d %H:%M:%S"}&nbsp;&nbsp;对&nbsp;&nbsp;&nbsp;&nbsp;<b style="color: #ff0000
                ">{$data['goods_name']}</b>&nbsp;&nbsp;&nbsp;&nbsp;发表评论
            </td>
        </tr>
        <tr>
            <td><hr size="1" color="#dadada"></td>
        </tr>
        <tr>
            <td>
                <div style="overflow:hidden; word-break:break-all;">{$data['content']}</div>
                <div align="right"><b>评论等级:</b><span style="color: orangered"> {$data['comment_rank']}&nbsp;&nbsp;颗星&nbsp;&nbsp;</span></div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <input type="button" class="button" value="禁止显示" onclick="">
            </td>
        </tr>
        </tbody></table>
</div>



<div class="main-div">
    <form name="theForm" action="{base_url url='admin/comment/reply'}" method="post">
        <input type="hidden" value="{$data['comment_id']}" name="comment_id">
        <input type="hidden" value="{$manager['mag_id']}" name="mag_id">
        <table border="0" align="center">
            <tbody><tr><th colspan="2">
                <strong>回复评论</strong>
            </th></tr>
            <tr>
                <td>管理员:</td>
                <td><input type="text" readonly="true" size="30" value="{$manager['mag_name']}" name="mag_name"></td>
            </tr>
            <tr>
                <td>回复内容:</td>
                <td><textarea wrap="VIRTUAL" rows="4" cols="50" name="reply_content"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="checkbox" value="1" name="send_email_notice">邮件通知</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" class="button" value=" 确定 " name="submit">
                    <input type="reset" class="button" value=" 重置 ">

                </td>
            </tr>
            </tbody></table>
    </form>
</div>
<script src="{$smarty.const.B_JS_DIR}utils.js" type="text/javascript"></script>


<div id="footer">
</div>


</body></html>