<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>ECSHOP 管理中心 - 添加评论 </title>
<meta content="noindex, nofollow" name="robots">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link type="text/css" rel="stylesheet" href="{base_url url='public/admin/styles/general.css'}">
<link type="text/css" rel="stylesheet" href="{base_url url='public/admin/styles/main.css'}">
<script type='text/javascript' src="{base_url url='public/admin/js/jquery.js'}"></script>
</head>
<body style="cursor: auto;">

<h1>
<span class="action-span"><a href="{base_url url='admin/reply/show'}">回复列表</a></span>
<span class="action-span1"><a href="{base_url url='admin/welcome'}">ECSHOP 管理中心</a> </span><span class="action-span1" id="search_id"> - 添加</span>
<div style="clear:both"></div>
</h1>
<div class="main-div">
  <form name="theForm" method="post" action="{base_url url='admin/reply/edit'}">
    <input type="hidden" size="10" value="{$cid}" name="comment_id">
    <input type="hidden" size="10" value="{$sid}" name="manager_id">
    <input type="hidden" size="10" value="{$sname}" name="manager_name">
    <input type="hidden" size="10" value="{$rid}" name="reply_id">
  <table width="100%" id="general-table">
      <tbody>
        <tr>
        <td class="label">所属评论id</td>
        <td>
          {$cid}   
        </td>
      </tr>
      <tr>
        <td class="label">管理员ID</td>
        <td>
          {$sid}
        </td>
      </tr>
      <tr>
        <td class="label">管理员</td>
        <td>
          {$sname}
		    </td>
      </tr>
     <tr>
        <td class="label">评论内容：</td>
        <td>
           <textarea name='rep_content'>{$row->rep_content}</textarea>
        </td>
      </tr>

      <tr>
        <td colspan="2">
        <div class="button-div">
          <input type="submit" class="button" value=" 确定 ">
          <input type="reset" class="button" value=" 重置 ">
        </div>
        </td>
      </tr>
      </tbody></table>
  </form>
</div>
<div id="footer">
  版权所有 &copy; 2012-2013 传智播客 - PHP培训 - 
</div>
</body></html>
