{include file="./header.html"}
	<!-- // SITE HEADER -->
	
		<!-- BREADCRUMB -->
		<div class="breadcrumb-container">
			<div class="container">
				<div class="relative">
					<ul class="bc unstyled clearfix">
						<li><a href="#">首页</a></li>
						<li class="active">用户评论</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- // BREADCRUMB -->
		
		<!-- SITE MAIN CONTENT -->
		<main id="main-content" role="main">
				
			<div class="container">
				<div class="row">

				<!-- CONTENT -->
				
				<div class="col-md-1">
					
				</div>
				<div class='col-md-8'>
<h3>收货地址修改 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-xs" onclick="location.href='{base_url url='home/usercenter/show'}/{$row->user_id}'">返回</button></h3>
<form method="post" action="{site_url url='home/usercenter/adedit'}" name="theForm" onsubmit="return validate()">
   <input type='hidden' name='addr_id' value='{$row->addr_id}'>
   <input type="hidden" name="user_id" value="{$row->user_id}"/>
<table width="100%" align='center' class='table table-hover'>
  <tr>
    <td>收货人名称:</td>
    <td><input type="text" name="addr_name" value="{$row->addr_name}" /></td>
  </tr>
  <tr>
    <td>收货地址:</td>
    <td><input type="text" name="address" value="{$row->address}" size='70'/></td>
  </tr>
  <tr>
    <td>联系电话:</td>
    <td><input type="text" name="tel" value="{$row->tel}" /></td>
  </tr>
 
   <tr>
    <td align='center'>
      <input type="submit" value=" 确定 " class="btn btn-primary btn-lg" />
  	</td>
  	<td>
      <input type="reset" value=" 重置 " class="btn btn-primary btn-lg" />
    </td>
  </tr>
</table>
</form>
	</div>
				
				<!-- CONTENT -->

				
				</div>
			</div>
			
		</main>
		<!-- // SITE MAIN CONTENT -->
		
		<!-- SITE FOOTER -->
	{include file="./footer.html"}